<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dneprovdanila.litpro_project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".START_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".users_fragments.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".staff_fragments.STAFF_MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".users_fragments.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".staff_fragments.STAFF_SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".users_fragments.USER_answer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".users_fragments.USER_composition"
            android:screenOrientation="portrait" />

        <activity
            android:name=".staff_fragments.STAFF_composition"
            android:screenOrientation="portrait" />

        <activity
            android:name=".staff_fragments.STAFF_answer"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>